<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
<meta charset="utf-8">
<title>AngularJS ng-repeatの絞り込み</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>

<h2>ng-repeatの絞り込み</h2>

<div ng-controller="MainCtrl as vm">
  <input type="search" ng-model="vm.searchText">
  <ul ng-repeat="person in vm.people | filter:vm.searchText">
    <li>{{person.name}} ({{person.age}})</li>
  </ul>
</div>

<script>
angular.module('myApp', [])
  .controller('MainCtrl', function() {
    var vm = this;
    vm.people = [
      { name: 'Kazuhito Hokamura', age: 30 },
      { name: 'Takeshi Takatsudo', age: 31 },
      { name: 'Akihiro Oyamada', age: 31 },
      { name: 'Kazunori Tokuda', age: 30 },
      { name: 'Yukihisa Yamada', age: 28 }
    ];
  });
</script>

</body>
</html>
