<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
<meta charset="utf-8">
<title>AngularJS ngDisabled demo</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>

<h2>input[type="checkbox"]とngDisabledのデモ</h2>

<div ng-controller="MainCtrl as vm">
  <label><input type="checkbox" ng-disabled="vm.disabled" ng-model="vm.checked"> Check</label><br>
  <button ng-click="vm.toggle()">Toggle disabled</button>
</div>

<script>
angular.module('myApp', [])
  .controller('MainCtrl', function() {
    var vm = this;
    vm.checked = false;
    vm.disabled = false;
    vm.toggle = function() {
      vm.disabled = !vm.disabled;
    };
  });
</script>

</body>
</html>

