<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
<meta charset="utf-8">
<title>AngularJS $scope handler demo</title>
<script src="../lib/angular.min.js"></script>
</head>
<body>

<h2>変数の変更を検知するデモ</h2>

<div ng-controller="MainCtrl as vm">
  Hello {{vm.fullName}}!
  <div>
    Your first name:
    <input type="text" ng-model="vm.name.first">
  </div>
  <div>
    Your last name:
    <input type="text" ng-model="vm.name.last">
  </div>
</div>

<script>
angular
  .module('myApp', [])
  .controller('MainCtrl', function($scope) {
    var vm = this;
    vm.fullName  = '';
    vm.name = {
      first: '',
      last:  ''
    };

    $scope.$watch('vm.name.first', function(newVal, oldVal) {
      if(newVal === oldVal) return;
      console.log('First name changed from ' + oldVal + ' to ' + newVal);
      vm.fullName = vm.name.first + ' ' + vm.name.last;
    });

    $scope.$watch('vm.name.last', function(newVal, oldVal) {
      if(newVal === oldVal) return;
      console.log('Last name changed from ' + oldVal + ' to ' + newVal);
      vm.fullName = vm.name.first + ' ' + vm.name.last;
    });
  });
</script>

</body>
</html>


