<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
<meta charset="utf-8">
<title>AngularJS provider</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>

<h2>ng-repeat provider</h2>

<div ng-controller="MainCtrl as vm">
  <p>{{vm.counter.count}}</p>
  <p>
    <button ng-click="vm.counter.increment()">+1</button>
    <button ng-click="vm.counter.add(10)">+10</button>
  </p>
</div>

<script>
var app = angular.module('myApp', []);

app.provider('counter', function() {
  var count = 0;

  this.setDefaultCount = function(defaultCount) {
    count = defaultCount;
  };

  this.$get = function() {
    return {
      count: count,
      increment: function() {
        this.count++;
      },
      add: function(count) {
        this.count += count;
      }
    };
  };
});

app.constant('COUNTER_DEFAULT', 100);

app.config(function(counterProvider, COUNTER_DEFAULT) {
  counterProvider.setDefaultCount(COUNTER_DEFAULT);
});

app.controller('MainCtrl', function(counter) {
  this.counter = counter;
});
</script>

</body>
</html>
